@charset "utf-8";
/* CSS Stylesheet for C.R.I. Casatenovo - Text Styles
Created by Davide G. Grego */

a:link, a:visited {color: #cc0000;}
a:active {color: red;}
a:hover
{
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table, tr, td, th {
	border: #000000 1px solid;
}
tr, td, th {
	padding:0 5px;
}


h1 {
    font-size: 2em;
	line-height:30px;
	font-weight: bold;
}

h2 {
    font-size: 1.6em;
	line-height:20px;
	font-weight: bold;
}

h3 {
    font-size: 1.2em;
	line-height:18x;
	font-weight: bold;
}

p
{
  margin: 0.6em 0px;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height:18px;
}

ol, ul {
    list-style: circle;
	list-position:inside;
}

.list-cri
{
	list-style-position: inside;
	list-style-image: url('../images/list-cri.png');
}