@charset "utf-8";
/* This CSS Stylesheet is part of the "JoomlaCRI!" Joomla Template */
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}
body {line-height: 1;}
ol, ul {list-style: circle inside none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
:focus {outline: 0;}
ins {text-decoration:underline;}
del {text-decoration: line-through;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end RESET */

table, tr, td, th {
	border: 1px solid #DBDBDB;
	border-collapse: collapse;
}

tr, td, th {
	padding:0 5px;
}

label {font-weight:bold;}

ul li p
{line-height:0;}
a {text-decoration:underline;}
a:link, a:visited {color: #cc0000;}
a:active {color: red;}
a:hover {text-decoration: none;}
body, p
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height:1.5em;
}
p
{
	margin: 0.8em 0px;
}
h1 {
    font-size: 1.33em;
	color:#cc0000;
	line-height:1.66em;
	font-weight: bold;
}

h2 {
    font-size: 1.16em;
	color:#cc0000;
	line-height:1.66em;
	font-weight: bold;
}

h3 {
    font-size: 1.16em;
	font-weight: bold;
	line-height:1.5em;
}
html, body {
  height: 100%;
}
body
{
  width: 932px;
  margin: 0px auto;
  background: #949494 url('../images/page_t.jpg') repeat-x scroll top left;
}

.tip
{
  border:solid 1px #333;
  background:#dbdbdb;
  padding:5px;
  max-width: 400px;
}
.tip .tip-title {
	font-weight:bold;
}

/* HEADER */
div#wrapper {
  background-color: #dbdbdb;
  min-height: 100%;
  width: 932px;
}
#header {
  width: 100%;
  height: 195px;
  background-image:url('../images/header/header1.png');
  overflow: hidden;
  clear: both;
  background-color:#FFFFFF;
}
#header img {display:none;}
#header img.first {display:block;}
#headerlink a {
	position: absolute;
	z-index:10;
}
#ahome {
    top: 7px;
    left: 98px;
    width: 359px;
    height: 57px;
}

#aemail 
{
    height: 15px;
    left: 799px;
    top: 175px;
    width: 128px;
}

#amaps 
{
    height: 15px;
    left: 709px;
    top: 143px;
    width: 218px;
}

/* end HEADER */
/* SIDEBAR */
#sidebar
{
  float: left;
  margin: 0 0 auto;
  width: 233px;
}
/*modules*/
.menu-main, .menu-red, .menu-login, .menu-grey {color: #FFFFFF;}
.menu-main {
	padding: 28px 15px 26px;
	background-color: #cc0000;
	border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
	behavior: url('/templates/joomlacri/pie/PIE.php'); /* lteIE8 border-radius */
	position:relative; /* withouth this PIE does not work */
}
.menu-red, .menu-login, .menu-grey {
	margin: 8px 0;
	padding: 26px 15px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	behavior: url('/templates/joomlacri/pie/PIE.php'); /* lteIE8 border-radius */
	position:relative; /* withouth this PIE does not work */
}
.menu-red { background-color: #CC0000;}
.menu-grey, .menu-login {background-color: #8c8c8c;}
.menu-alpha {margin:8px; padding:0 15px;}
/*end modules*/

/*menu styles*/
.menu-main a:link, .menu-red a:link, .menu-login a:link, .menu-grey a:link, .menu-main a:visited, .menu-red a:visited, .menu-login a:visited, .menu-grey a:visited, .menu-main a:hover, .menu-red a:hover, .menu-login a:hover, .menu-grey a:hover, .menu-main a:active, .menu-red a:active, .menu-login a:active, .menu-grey a:active {color:#ffffff; text-decoration:none;}

ul.menu li:hover {background-image: url('../images/hoverbackground.png');}
.menuovveride ul.menu li:hover {background-image: url('../images/hoverbackgroundgrey.png');}

/* style remover for single menu item - change number with correct menu item ID - copy for more menu items */
ul.menu li.item-149,ul.menu li.item-163,ul.menu li.item-164,ul.menu li.item-165,ul.menu li.item-166,ul.menu li.item-167,ul.menu li.item-179,ul.menu li.item-180,ul.menu li.item-181,ul.menu li.item-182,ul.menu li.item-183,ul.menu li.item-184,ul.menu li.item-416,ul.menu li.item-417 {list-style-image:none;list-style:none;cursor:default;}
ul.menu li.item-149 span.separator,ul.menu li.item-163 span.separator,ul.menu li.item-164 span.separator,ul.menu li.item-165 span.separator,ul.menu li.item-166 span.separator,ul.menu li.item-167 span.separator,ul.menu li.item-179 span.separator,ul.menu li.item-180 span.separator,ul.menu li.item-181 span.separator,ul.menu li.item-182 span.separator,ul.menu li.item-183 span.separator,ul.menu li.item-184 span.separator,ul.menu li.item-416 span.separator,ul.menu li.item-417 span.separator {padding:0;}
ul.menu li.item-149:hover,ul.menu li.item-163:hover,ul.menu li.item-164:hover,ul.menu li.item-165:hover,ul.menu li.item-166:hover,ul.menu li.item-167:hover,ul.menu li.item-179:hover,ul.menu li.item-180:hover,ul.menu li.item-181:hover,ul.menu li.item-182:hover,ul.menu li.item-183:hover,ul.menu li.item-184:hover,ul.menu li.item-416:hover,ul.menu li.item-417:hover {background-image:none;}
/* end style remover */

ul.menu li.current a, ul.menu li ul li.current a{text-decoration:underline;}
ul.menu li:first-child a{text-decoration:none;}
ul.menu
{
  list-style:disc inside url('../images/blockcontentbullets.png');
  font-size: 13px;
  line-height: 26px;
  font-weight: bold;
  padding-left:5px;
}
ul.menu li {
	margin:2px 0;
	white-space:nowrap;
	position:relative;
	left:-20px;
	padding: 0 15px 0 20px;
	width:100%;
}
ul.menu a {
	white-space:normal;
  display:inline-block;
  position:relative;
  left:-32px;
  width:233px;
  text-indent:42px;
}
ul.menu ul li {
	left:-42px;
	padding-left:42px;
}
ul.menu ul ul li {
	left:-64px;
	padding-left:64px;
}
ul.menu ul li a:link, ul.menu ul li.current a, ul.menu ul ul li a:link, .menuovveride ul.menu ul li a:link {background-image:none; text-decoration:none;}
ul.menu ul a:hover {text-decoration:underline !important;}
ul.menu ul
{
  list-style-type:disc;
  list-style-position:inside;
  padding-left: 22px;
  line-height: 20px;
  font-size: 12px;
}
ul.menu ul a 
{
  width:auto;
  text-indent:0;
  position:static;
}
ul.menu ul ul li.current a {background-image:none; text-decoration:underline !important;}
ul.menu ul ul
{
  list-style-type:circle;
}
/*end menu styles*/
/*login form styles*/
div.moduletop {
  margin-bottom:10px;
  text-align:center;
}
table#table-module-login
{
	margin:0 auto;
	width:211px;
	border:none;
	vertical-align:middle;
}
table#table-module-login tr, table#table-module-login td {
	border:none;
	height:30px;
}
ul.module-login-options {
  list-style:circle inside none;
}
div.login {
	padding: 20px;
	border:1px solid #000000;
}
div.logout, div.reset, div.remind, div.reset-confirm, div.reset-complete {
	padding: 20px;
	border:1px solid #000000;
	text-align:center;
}
table.table-userlog, table.table-userlog tr, table.table-userlog td {
	border:none;
}
table.table-userlog td {
	padding: 5px;
}
table.table-userlog {
	margin:0 auto;
	max-width:300px;
}
table.table-userlog ul {
	list-style:none;
	margin: 0;
}
/*end login form styles*/
/* RIGHT SIDE - CONTENT*/
#right {
  float: right;
  width: 699px;
}
#message-module
{
  width: 699px;
  background-color: #ffffff;
  padding: 1px 0px;
}
#breadcrumb
{
  width: 699px;
  background-color: #ffffff;
  padding: 5px 0px;
  text-indent: 10px;
}
#scrollercontainer {
	padding:5px 0 10px 0;
}
#scroller {
	background-color:#FFFFFF;
	padding:0 10px;
	border:3px solid #cc0000;
	border-radius:10px;
	margin:0 2px;
}
#scroller h3:first-child {
	color:#cc0000;
	text-indent:10px;
}
.component-div {
  width:100%;
  background-color:#FFFFFF;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  behavior: url('/templates/joomlacri/pie/PIE.php'); /* lteIE8 border-radius */
  position:relative; /* withouth this PIE does not work */
}
.component {
  margin:0px 10px;
  width:679px;
  min-height: 1400px;
  height: auto;
  background-color: #ffffff;
  padding-bottom:10px;
}
.component ul,ol
{
  margin-left:35px;
  list-style-position:outside;
}
.under-component-wrapper {
	background:#FFFFFF;
	padding:10px 0;
}
#under-component-1 {
	background: #666;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;;
	behavior: url('/templates/joomlacri/pie/PIE.php'); /* lteIE8 border-radius */
	position:relative; /* withouth this PIE does not work */
}
#under-component-1 h3 {
	color:#FFF;
	padding:10px 20px 0;
	font-weight:bold;
}
/*end RIGHT SIDE*/
/*FOOTER*/
#footer {
  float:left;
  clear:both;
  width:932px;
  padding:20px 0 10px;
  text-align:center;
  opacity:0.6;
  filter: alpha(opacity=60);
}
/*end FOOTER*/